{% extends "layout.html" %}
{% block title %}
  Email Submission
{% endblock %}
{% block content %}
    <div class="heading">
      <img src="{{ url_for('static', filename='smile.png') }}">
      <h3>Thank you</br>for your submission!</h3>
    </div>
    <div class="login classify">
    <p> We will use your feedback to make smarter alerts. </p>
      <div class="forms">
        <form name="Classify" action="{{ url_for('login') }}" method="GET" autocomplete="on">
          <button>Classify More</button>
        </form>
      </div>
    </div>
{% endblock %}
{% block links %}
  <a href="{{ url_for('show_faq') }}">FAQ</a>
  |
  {{ super() }}
{% endblock %}