{% extends "layout.html" %}
{% block title %}
  FAQ
{% endblock %}
{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='Material_Icons.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s6">
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">trending_up</i></span>
        <h5 class="activator">Why are we collecting this data?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">Why are we collecting this data?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>We want to build a supervised machine learning model for SCOPE to trigger alerts more like a human would
          rather than rule-based which is what we are limited to now since we don't have data to train the model on.
          In order to make sure that we are triggering what our <em>users</em> call alerts, we need to get input from them!</p>
      </div>
    </div>
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">functions</i></span>
        <h5 class="activator">What does Metis mean?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">What does Metis mean?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>Since we are collecting this data to be smarter about how we trigger alerts, why not name it after a <b>Greek goddess of knowledge and deep thought</b>?!</p>
        <div>From Wikipedia:</div>
        <blockquote cite="https://en.wikipedia.org/wiki/Metis_(mythology)">Metis (&Mu;&#942;&tau;&iota;&sigmaf;, "wisdom," "skill," or "craft"), in ancient Greek religion,
          was a mythological character belonging to the Titan generation. [...] By the era of Greek philosophy in the 5th century BC, Metis had become the mother of wisdom
          and deep thought, [...] the embodiment of "prudence", "wisdom" or "wise counsel" [...] The Greek word metis meant a quality that combined wisdom and cunning.</blockquote>
      </div>
    </div>
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">verified_user</i></span>
        <h5 class="activator">Who are we collecting responses from?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">Who are we collecting responses from?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>Right now, we are collecting responses from AS, AX, and TS on what they would consider alerts. Each group is classifying a specific set of metrics; however, they are blind to who the advertiser is.</p>
      </div>
    </div>
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">code</i></span>
        <h5 class="activator">This is really cool! Can I see the code?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">This is really cool! Can I see the code?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>Code can be found on gitlab <a href="https://github.com/stefmolin/Metis">here</a>.</p>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">build</i></span>
        <h5 class="activator">What will we be doing with the results?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">What will we be doing with the results?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>Once we have built up a database of responses from SCOPE users, we will split the data into two sets: a training set and a test set (an uneven split).
          We will then use the training set to train possible machine learning models (think classification, random forests, clustering, etc.).
          Each of the models will then be tested on the test data (the unseen data). The model that performs best on the unseen data will be our new model!
          Of course, we will continue to tweak things from there (and collect more input from our users).</p>
      </div>
    </div>
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">feedback</i></span>
        <h5 class="activator">How can I report issues, provide feedback, etc.?</h5>
        <!--
        <i class="material-icons">thumbs_up_down</i>
        <i class="material-icons">report_problem</i>
        <i class="material-icons">insert_comment</i>
        <i class="material-icons">bug_report</i>
        <i class="material-icons">error_outline</i>
        <i class="material-icons">warning</i>
        <i class="material-icons">report</i>
      -->
      </div>
      <div class="card-reveal">
        <span class="card-title">How can I report issues, provide feedback, etc.?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>Click the "Feedback" link at the top of any page or <a href="https://yourcompany.slack.com/messages/channel_id">click here</a>. If slack's not your thing, <a href="mailto:support@yourcompany.com?subject=Metis%20Bug">send an email</a>.</p>
      </div>
    </div>
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">pan_tool</i></span>
        <h5 class="activator">How can AS/AX/TS sign up to participate?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">How can AS/AX/TS sign up to participate?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p>No need to sign up&#8211;just <a href="{{ url_for('login') }}">login here</a> with your company credentials!</p>
      </div>
    </div>
    <div class="card small">
      <div class="card-content white-text center activator show-pointer">
        <span class="card-title"><i class="material-icons jumbo_icons">people</i></span>
        <h5 class="activator">Credits: Who built this?</h5>
      </div>
      <div class="card-reveal">
        <span class="card-title">Credits: Who built this?<i class="material-icons right">close</i></span>
        <hr style="width: 100%;">
        <p><strong>Stefanie Molin</strong>: Flask webapp with Postgres database. (Python, HTML, Materialize CSS, JavaScript)</p>
  	    <p><strong>Francois Pillot</strong>: Moon deployment system used to spawn Docker containers off our Git repos, setting up the Flask server for multiple users, Flask tips and CSS/JavaScript from the SCOPE Digest collapsible email.</p>
  	    <p><strong>Maya Noguchi</strong>: Fixing up the UX to match the SCOPE emails.</p>
  	    <p><strong>Aliki Mavromoustaki</strong>: Base CSS, trying to make Dash happen, and Greek fact-checking.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block links %}
  {% if 'username' in session %}
    <li><a href="{{ url_for('classify') }}">Classify</a></li>
    {{ super() }}
    <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {% else %}
    {{ super() }}
    <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
    <li><a href="{{ url_for('login') }}">Login</a></li>
  {% endif %}
{% endblock %}
