<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Metis - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reboot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='metisstyle.css') }}">
    {% endblock %}
  </head>
  <body {% block onload_events %}{% endblock %}>
    <div class="header">
      <a href="https://github.com/stefmolin/Metis">
        <img src="{{ url_for('static', filename='metis_logo_test.png') }}" alt="Metis">
      </a>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <div class="footer">
        <img class="footer_metis" src="{{ url_for('static', filename='scope_logo_w.png') }}" alt="SCOPE">
        <span>
          {% block links %}
          <a href="https://yourcompany.slack.com/messages/bug_report_channel_id">Report a bug</a>
          {% endblock %}
        </span>
      {% block extra_footer %}
      {% endblock %}
    </div>
  </body>
</html>
