{% extends "layout.html" %}
{% block title %}
  Login
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="card valign">
      <div class="card-content white-text center">
        <span class="card-title">Welcome</span>
        <div class="login">
          {% if error %}
          <div class="error"><p>{{ error }}</p></div>
          {% endif %}
          <div class="row">
            <form name="login" action="{{ url_for('login') }}" method="POST" autocomplete="on">
              <input class="input-field col s6 offset-s3" id="username" name="username" placeholder="username" required="" type="text"/>
              <input class="input-field col s6 offset-s3" id="password" name="password" placeholder="password" required="" type="password"/>
              <button class="col s6 offset-s3" >Login</button>
            </form>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block links %}
  <li><a href="{{ url_for('show_faq') }}">FAQ</a></li>
  {{ super() }}
  <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
{% endblock %}
