{% extends "layout.html" %}
{% block title %}
  Thank You
{% endblock %}
{% block content %}
  <div class="content">
    <img src="{{ url_for('static', filename='smile.png') }}">
    <p> Thank you, <em>{{ username }}</em>, for helping Metis learn!<br><br>We have no more classifications for you at the moment, but please check back soon for more!<br><br><small>- The SCOPE Team<small></p>
  </div>
{% endblock %}
{% block links %}
  <a href="{{ url_for('show_faq') }}">FAQ</a>
  |
  {{ super() }}
{% endblock %}